.topic-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #D4D4D4;
    width: 300px;
    height: 300px;
}

.topic-type {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFA500;
    font-size: 0.5em;
    font-weight: 300;
    height: 30px;
}

.topic-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 10px;
}

.topic-body h1 {
    font-size: 2em;
    font-weight: 300;
}

.topic-body p {
    font-size: 1.25em;
    font-weight: 200;
}

