.learn-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 2vh 15vw 0 15vw;
    gap: 7vw;
}

.topic-list-container {
    justify-self: left;
    align-self: flex-start;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.topic-list-container h1 {
    font-weight: 500;
}

.topics {
    font-weight: 200;
    text-align: center;
    justify-content: center;
}

.explore-container {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
}

.explore-header-top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.explore-header-top h1 {
    font-weight: 500;
}

.explore-header-top a {
    text-decoration: none;
    color: #FFA500;
}

.explore-header-selectors {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.explore-header-selectors select {
    border: none;
    width: 12vw;
    height: 4.5vh;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #D4D4D4;
}

.page-buttons {
    display: flex;
    gap: 1vw;
}

.explore-header-selectors button {
    border: none;
    height: 4.5vh;
    width: 4.5vw;
    font-size: 1em;
    background-color: #D4D4D4;
    border-radius: 5px;
}

.learn-topic-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
}