.channel-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.channel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    padding: 15px;
}

.channel img {
    margin-top: 20px;
    width: 120px;
    height: 120px;
    align-self: center;
    justify-self: center;
}

.channel h2 {
    font-size: 1.5em;
    font-weight: 200;
    color: #fff;
}

#pluralsight-channel {
    background: linear-gradient(180deg, #E34412 0%, #EE3780 100%);
    border-radius: 5px;
}

#sharepoint-channel {
    background: linear-gradient(180deg, #01858A 0%, #189CA1 48.44%, #25C7CA 100%);
    border-radius: 5px;
}

#resonate-channel {
    background: linear-gradient(180deg, #EBB656 0%, #E74F8B 100%);
    border-radius: 5px;
}
